html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--chakra-colors-bg-canvas);
  color: var(--chakra-colors-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
